{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message form-title">Log In</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control inputs") }}
        {% endfor %}
  
        <div class="edit-btn-area">
          <button class="btn btn-block edit-btn">Log In</button>
          <a href="/" class="btn cancel-btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>


{% endblock %}


