{% extends 'base.html' %}

{% block content %}


<h1 class="game-details-name">{{game.name}}</h1>

<img class="game-details-img" src="{{game.background_image}}" alt="Image of {{game.name}}" width="800">

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle game-details-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Add Game
  </button>
  <ul class="dropdown-menu" data-bs-theme="dark">
    <li>
      <form method="POST" action="{{url_for('all_games.add_all_game', game_id=game.id)}}">
        <button class="dropdown-item" href="/">All Games</button>
      </form>
    </li>
    <li>
      <form method="POST" action="{{url_for('favorites.add_favorite', game_id=game.id)}}">
        <button class="dropdown-item" href="/">Favorites</button>
      </form>
    </li>     
    <li>
      <form method="POST" action="{{url_for('played.add_played', game_id=game.id)}}">
        <button class="dropdown-item" href="/">Played</button>
      </form>
    </li>    
    <li>
      <form method="POST" action="{{url_for('completed.add_completed', game_id=game.id)}}">
        <button class="dropdown-item" href="/">Completed</button>
      </form>
    </li> 
    <li>
      <form method="POST" action="{{url_for('planned.add_planned', game_id=game.id)}}">
        <button class="dropdown-item" href="/">Plan to Play</button>
      </form>
    </li>            
  </ul>
</div>

<h4 class="game-details-description">Description</h4>
<p class="game-details-info">
  {% if game.description_raw %}
    {{game.description_raw}}
  {% else %}
    N/A
  {% endif %}
</p>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col">
    <h4 class="game-details-genres">Genres</h4>
    <p class="game-details-info">
      {% if game.genres %}
        {% for genre in game.genres %}
          {{genre.name}} |
        {% endfor %}
      {% else %}
        N/A
      {% endif %}
    </p>
    <h4 class="game-details-platforms">Platforms</h4>
    <p class="game-details-info">
      {% if game.platforms %}
        {% for platform in game.platforms %}
          {{platform.platform.name}} |
        {% endfor %}
      {% else %}
        N/A
      {% endif %}
    </p>
    <h4 class="game-details-released">Released</h4>
    <p class="game-details-info">
      {% if game.released %}
        {{game.released}}
      {% else %}
        N/A
      {% endif %}
    </p>
    <h4 class="game-details-rating">ESRB Rating</h4>
    <p class="game-details-info">
      {% if game.esrb_rating %}
        {{game.esrb_rating.name}}
      {% else %}
        N/A
      {% endif %}
    </p>
  </div>
  <div class="col">
    <h4 class="game-details-developers">Developers</h4>
    <p class="game-details-info">
      {% if game.developers %}
        {% for dev in game.developers %}
          {{dev.name}} |
        {% endfor %}
      {% else %}
        N/A
      {% endif %}
    </p>
    <h4 class="game-details-publishers">Publishers</h4>
    <p class="game-details-info">
      {% if game.publishers %}
        {% for publisher in game.publishers %}
          {{publisher.name}} |
        {% endfor %}
      {% else %}
        N/A
      {% endif %}
    </p>
    <h4 class="game-details-count">Game Series Count</h4>
    <p class="game-details-info">
      {% if game.game_series_count %}
        {{game.game_series_count}}
      {% else %}
        N/A
      {% endif %}
    </p>
    <h4 class="game-details-stores">Stores</h4>
    <p class="game-details-info">
      {% if game.stores %}
        {% for store in game.stores %}
          {{store.store.name}} |
        {% endfor %}
      {% else %}
        N/A
      {% endif %}
    </p>
  </div>
</div>



{% endblock %}

