{% extends 'base.html' %}

{% block content %}


<h1>{{game.name}}</h1>

<img src="{{game.background_image}}" alt="Image of {{game.name}}" width="800">

<h4>Description</h4>
<p>
  {% if game.description_raw %}
    {{game.description_raw}}
  {% else %}
    N/A
  {% endif %}
</p>


<h4>Game Series Count</h4>
<p>
  {% if game.game_series_count %}
    {{game.game_series_count}}
  {% else %}
    N/A
  {% endif %}
</p>

<h4>Developers</h4>
<p>
  {% if game.developers %}
    {% for dev in game.developers %}
      {{dev.name}} |
    {% endfor %}
  {% else %}
    N/A
  {% endif %}
</p>

<h4>Publishers</h4>
<p>
  {% if game.publishers %}
    {% for publisher in game.publishers %}
      {{publisher.name}} |
    {% endfor %}
  {% else %}
    N/A
  {% endif %}
</p>

<h4>Stores</h4>
<p>
  {% if game.stores %}
    {% for store in game.stores %}
      {{store.store.name}} |
    {% endfor %}
  {% else %}
    N/A
  {% endif %}
</p>

<h4>Genres</h4>
<p>
  {% if game.genres %}
    {% for genre in game.genres %}
      {{genre.name}} |
    {% endfor %}
  {% else %}
    N/A
  {% endif %}
</p>
  
<h4>Platforms</h4>
<p>
  {% if game.platforms %}
    {% for platform in game.platforms %}
      {{platform.platform.name}} |
    {% endfor %}
  {% else %}
    N/A
  {% endif %}
</p>
  
<h4>Released:</h4>
<p>
  {% if game.released %}
    {{game.released}}
  {% else %}
    N/A
  {% endif %}
</p>

<h4>ESRB Rating:</h4>
<p>
  {% if game.esrb_rating %}
    {{game.esrb_rating.name}}
  {% else %}
    N/A
  {% endif %}
</p>


{% endblock %}

