{% extends 'base.html' %}

{% block content %}


  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for game in response.results %}
    <div class="col">
      <div class="card">
        <img src="{{game.background_image}}" class="card-img-top" alt="Image of {{game.name}}">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <p class="card-text">Genre: 
            {% if game.genres %}
              {% for genre in game.genres %}
                {{genre.name}} |
              {% endfor %}
            {% else %}
              N/A
            {% endif %}
          </p>
          <p class="card-text">Platforms: 
            {% if game.platforms %}
              {% for platform in game.platforms %}
                {{platform.platform.name}} |
              {% endfor %}
            {% else %}
              N/A
            {% endif %}
          </p>
          <p class="card-text">Released: 
            {% if game.released %}
              {{game.released}}
            {% else %}
              N/A
            {% endif %}
          </p>
          <p class="card-text">ESRB Rating: 
            {% if game.esrb_rating %}
              {{game.esrb_rating.name}}
            {% else %}
              N/A
            {% endif %}
          </p>
        </div>
        <div class="card-body">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add Game
            </button>
            <ul class="dropdown-menu" data-bs-theme="dark">
              <li>
                <form method="POST" action="{{url_for('all_games.add_all_game', game_id=game.id)}}">
                  <button class="dropdown-item" href="/">All Games</button>
                </form>
              </li>
              <li>
                <form method="POST" action="{{url_for('favorites.add_favorite', game_id=game.id)}}">
                  <button class="dropdown-item" href="/">Favorites</button>
                </form>
              </li>     
              <li>
                <form method="POST" action="{{url_for('played.add_played', game_id=game.id)}}">
                  <button class="dropdown-item" href="/">Played</button>
                </form>
              </li>    
              <li>
                <form method="POST" action="{{url_for('add_completed', game_id=game.id)}}">
                  <button class="dropdown-item" href="/">Completed</button>
                </form>
              </li> 
              <li>
                <form method="POST" action="{{url_for('add_planned', game_id=game.id)}}">
                  <button class="dropdown-item" href="/">Plan to Play</button>
                </form>
              </li>            
            </ul>
          </div>
          <a href="/games/{{game.id}}" class="card-link">See Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>



{% endblock %}


<!-- {% if response.next %}
  <a href="{{response.next}}">Next</a>
{% endif %} -->
<!-- <p>Developer: {{response2.results[0].name}}</p> -->