{% extends 'base.html' %}

{% block content %}

<h1>{{user.username}}'s Library</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/users/{{user.id}}/all_games">All Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/{{user.id}}/favorites">Favorites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/{{user.id}}/played">Played</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/completed">Completed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/planned">Plan to Play</a>
    </li>
  </ul>

  <h1>Games go here</h1>






{% endblock %}

