{% extends 'base.html' %}

{% block content %}

<h1>{{user.username}}'s Library</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/users/{{user.id}}/all_games">All Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/users/{{user.id}}/favorites">Favorites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/{{user.id}}/played">Played</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/completed">Completed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/planned">Plan to Play</a>
    </li>
  </ul>

  <br>

  <!-- <p>{{user.categories}}</p>
  <p>{{user.categories[0]}}</p>
  <p>{{user.categories[0].favorites}}</p>
  <p>{{user.categories.favorites}}</p>


  {% for category in user.categories %}
    {% if category.favorites %}

    {% else %}
        <h1>No games in Favorites library</h1>
    {% endif %}
  {% endfor %} -->

  
  

  {% if user.categories %}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for category in user.categories %}
      {% if category.favorites %}
        {% for game in category.games %}
          <div class="col">
            <div class="card">
              <img src="{{game.background_image}}" class="card-img-top" alt="Image of {{game.name}}">
              <div class="card-body">
                <h5 class="card-title">{{game.name}}</h5>
                <p class="card-text">Genre:
                  {% if game.genre %}
                    {% for genre in game.genre %}
                      {{genre}} |
                    {% endfor %}
                  {% else %}
                    N/A
                  {% endif %}
                </p>
                <p class="card-text">Platforms: 
                  {% if game.platform %}
                    {% for platform in game.platform %}
                      {{platform}} |
                    {% endfor %}
                  {% else %}
                    N/A
                  {% endif %}
                </p>
                <p class="card-text">Released:
                  {% if game.released %} 
                    {{game.released}}
                  {% else %}
                    N/A
                  {% endif %}
                </p>
                <p class="card-text">ESRB Rating: 
                  {% if game.esrb_rating %}
                    {{game.esrb_rating}}
                  {% else %}
                    N/A
                  {% endif %}
                </p>
              </div>
              <div class="card-body">
                <a href="/games/{{game.game_id}}" class="card-link">See Details</a>
                <a href="#" class="card-link">Delete</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <h1>Games go here</h1>
  {% endif %}

{% endblock %}

